<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
    <h1>Dojo Survey</h1>
    <form action="/process" method="post">
        <div>
            <label for="name">Name:</label>
            <input type = "text" name = "name">
        </div>
        <div>
            <label for="location">Dojo Location:</label>
            <select id = "locations" name = "location">
                <option value="chicago">Chicago</option>
                <option value="san-jose">San Jose</option>
            </select>
        </div>
        <div>
            <label for="language">Favorite Language</label>
            <select name ="language" id="Languages">
                <option value="python">Python</option>
                <option value="cplus">C#</option>
            </select>
        </div>
        <div>
            <label for="comment">Comment (Optional):</label>
            <div>
                <textarea name ="comment" id="comment" cols="40" rows="4">

                </textarea>
            </div>
        </div>
        <input class="btn btn-primary" type="submit" value="submit">
    </form>
</body>
</html>